@import '../abstracts/variables';

.PictureContainerUser{
    width: 100%;
    height: 50vh;
}

.PictureContainerUser hr{
    width: 95%;
    margin-left: 2.5%;
}

.TitlePictures{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.PictureProfile{
    height: 100%;
    width: 100px;
    margin-left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PictureProfile img{
    width: 70%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
}

.UserName{
    margin-left: 15px;
    font-family: $font-principal;
    color: map-get($colors, "five");
}

.Gallery{
    width: 95%;
    height: max-content;
    margin-left: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Item{
    width: 150px;
    height: 90px;
    margin: 5px;
    background-color: gainsboro;
}

.EditInfo{
    position: absolute;
    right: 50px;
    border: none;
    color: map-get($colors, "one");
    padding: 10px;
    border-radius: 20px;
    background: map-get($colors, "gradient");
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0px 0px 5px 1px rgba($color: #000000, $alpha: 0.5) ;
}

@media (min-width: 800px){
    .PictureContainerUser{
        width: 170%;
        height: 50vh;
    }
    
    
    .Item{
        width: 250px;
        height: 180px;
        margin: 5px;
        background-color: gainsboro;
    }
}