@import '../abstracts/variables';



.Grid-container > *{
    text-align: center;
}

.Header{
    grid-area: Header;
}

.Navbar{
    grid-area: Navbar;
}

.Sidebar{
    grid-area: Sidebar;
}

.Main{
    grid-area: Main;
    border-left: 1px solid map-get($colors, "one");
}

.Hr{
    grid-area: Hr;
}


.Grid-container {
    max-width: 95%;
    min-height: 100vh;
    margin-left: 2.5%;
    display: grid;
    gap: 10px;
    grid-template:
        "Header" 150px
        "Navbar"
        "Hr"
        "Sidebar"
        "Main"
    ;
}

.Grid-container hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px dashed map-get($colors, "two");
    width: 100%;
}

.ImageBack{
    width: 100%;
    height: 100%;
    background-image: url(../../images/imageperfil.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Navbar {
    display: grid;
    grid-template:
        "Photo"
        "Info"
    ;
}

.Photo{
    text-align: left;
}

.Photo img{
    position: relative;
    margin-left: 30px;
    top: -100px;
    width: 180px;
    height: 180px;
    background-size: cover;
    border-radius: 50%;
}

.Info{
    display: grid;
}

.InfoBasic{
    display: grid;
    grid-template: 
    "InfoName InfoSta" /
    auto 180px
    ;
    
}

.InfoName{
    text-align: start;
}

.InfoName h1{
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
}

.InfoName h3{
    font-weight: 500;
    font-size: 25px;
}

.InfoSta{
    text-align: right;
}

.InfoSta div{
    height: 50%;
    padding: 3%;
}

.InfoSta input[type=number]::-webkit-inner-spin-button,
.InfoSta input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.InfoSta input[type=number] { -moz-appearance:textfield; }

.InfoSta .InputNum{
    width: 40px;
    height: 25px;
    text-align: center;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background: map-get($colors, "two");
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    outline: none;
}

.InfoSta .InputText{
    width: 110px;
    height: 25px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background: map-get($colors, "gradient");
    text-align: center;
    font-size: 16px;
    padding: 10px;
    color: map-get($colors,"one");
    outline: none;
}

.InfoAdd{
    margin-top: 10px;
    text-align: justify;
    color: map-get($colors, "four");
}

.InfoAdd p {
    font-size: 16px;
}

@media (min-width: 800px){
    .Grid-container{
        grid-template:
        "Header Header" 200px
        "Navbar Navbar" max-content
        "Hr Hr" 
        "Sidebar Main" max-content
        /
        auto    40%
        ;
    }

    .Grid-container hr{
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px dashed map-get($colors, "two");
    }

    .Navbar{
        grid-template:
            "Photo Info" /
            400px    auto
        ;
    }

    .Info{
        grid-template: 
        "InfoBasic"
        "InfoAdd" max-content
        ;
    }

    .Photo img{
        position: absolute;
        left: 5%;
        top: 8%;
        width: 260px;
        height: 260px;
        border-radius: 50%;
    }

    .InfoBasic{
        grid-template: 
        "InfoName InfoSta" /
        auto 200px
        ;
    }
}